<h2>Lists</h2>

<h3>Question 1</h3>

Create a list containing the numbers from 1 to 100 with a step of 10 (use the <strong>range</strong> function). Access and print the third element from the list. Modify the last element to "<span style="color:orange">Banana</span>" and print the updated list.</p>

<h3>Question 2</h3>
<p>Create an empty list and append the values 3, 7 and 9 to the list. Insert the value 5 between 3 and 7. Pop the last value and remove the value 7. Print the final list</p>

<h3>Question 3</h3>
<p>Create a list of numbers from 1 to 20. Use a for loop and conditional operators to create a new list containing only the even numbers from the original list. Print the new list.</p>

<h2>Tuples</h2>

<h3>Question 4</h3> 
Create two tuples containing the value 1,2,3 and 4,5,6. Concatenate these tuples into a single tuple and print the result.

<h3>Question 5</h3>

<p>Create a tuple with three elements, 10, 20 and 30. Unpack the tuple into three variables: a, b and c. Print the variables individually.</p>

<h3>Question 6</h3>
<p>Create a tuple with three elements, banana, apple and juice. Try to change the second element to Pineapple. Explain what happened.</p>

<h2>Dictionaries</h2>

<h3>Question 7</h3>
<p>Create a dictionary representing some movies from the Marvel Cinematic Universe with keys: Title, hero, year, and populate it. Print the value assigned to the key "Title". Add a new key-value pair for "Budget", populate it and print the updated dictionary.</p>

<h3>Question 8</h3>
<p>Create a dictionary where the keys are months and the values are season of that month. Print each month and it's corresponding season using a for loop.</p>

<h3>Question 9</h3>

<p>Create two lists, one containing the name of five bacterial species and the other their genome sizes. Use a loop to create a dictionary from these lists, where the bacterial species are the keys and the genome sizes are the values. Print the resulting dictionary.</p>

<h2>Sets</h2>

<h3>Question 10</h3>
<p>Create two sets: {1,2,3,4} and {3,4,5,6}. Find and print the union of these sets and find and print the intersection of these sets.</p>

<h3>Question 11</h3>
<p>Create two sets: {10,20,30,40} and {30,40,50,60} and print the difference between the first and second sets.</p>

<h3>Question 12</h3>
<p>Create a list with repeated elements, such as [1,2,2,3,4,4,5]. Convert the list into a set and print it. What happened?</p>